<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Javascript</title>
    <link rel="icon" type="image/vnd.icon" href="./favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../estilos/lightbox.css">
    <link rel="stylesheet" href="../estilos/estilos.css">

</head>
<body>
    <!--cabecera para el menu nav-->
    <header>
        <div class="cabecera">
            <div class="logo"><img class="camara" src="../asset/images/camara.png" width="150" height="82" alt="logo"></div>
        </div>
    </header>
    <main id="indice">
        <!--aqui ponemos la galeria 1 para las fotos-->
        <h2 class="galery">Nuestros mejores trabajos</h2>
        <div class="caja1">
                <a href="../asset/images/butterfly.jpg" data-lightbox="caja1" data-title="Preciosa mariposa"><img class="image"
                        src="../asset/images/butterfly.jpg" alt="mariposa" width="1280" height="853"></a>
                <a href="../asset/images/flowers.jpg" data-lightbox="caja1" data-title="Bonita flor morada"><img class="image"
                        src="../asset/images/flowers.jpg" alt="abeja" width="1280" height="917"></a>
                <a href="../asset/images/red-panda.jpg" data-lightbox="caja1" data-title="Precioso panda rojo"><img
                        class="image" src="../asset/images/red-panda.jpg" alt="panda rojo" width="1280" height="853"></a>
                <a href="../asset/images/thistle.jpg" data-lightbox="caja1" data-title="Bonita flor morada"><img class="image"
                        src="../asset/images/thistle.jpg" alt="thistle" width="1280" height="818"></a>
                <a href="../asset/images/tiger.png" data-lightbox="caja1" data-title="Imponente tigre"><img class="image"
                        src="../asset/images/tiger.png" alt="tigre" width="1280" height="1280"></a>
                <a href="../asset/images/bird.jpg" data-lightbox="caja1" data-title="Loro simpatico"><img class="image"
                        src="../asset/images/bird.jpg" alt="loro"  width="1280" height="854"></a>
        </div>
        <!--Aqui hago una segunda galeria-->
        <h2 class="galery">La belleza de nuestro trabajo</h2>
        <div class="caja2">
        <a href="../asset/images/barco.jpg" data-lightbox="caja2" data-title="Barco"><img class="image"
                        src="../asset/images/barco.jpg" alt="barco" width="1080" height="1232"></a>
        <a href="../asset/images/hornachuelos.jpg" data-lightbox="caja2" data-title="Pasaje en Hornachuelos"><img class="image"
                        src="../asset/images/hornachuelos.jpg" alt="Hornachuelos" width="1080" height="1620"></a>
        <a href="../asset/images/guitarrista.jpg" data-lightbox="caja2" data-title="Guitarrista bajo luces"><img class="image"
                        src="../asset/images/guitarrista.jpg" alt="guitarrista" width="1080" height="952"></a>
        <a href="../asset/images/cuevaGato.jpg" data-lightbox="caja2" data-title="Cueva del gato"><img class="image"
                        src="../asset/images/cuevaGato.jpg" alt="Cueva del gato" width="1080" height="1620"></a>
        <a href="../asset/images/tajo.jpg" data-lightbox="caja2" data-title="Imponente el tajo de Ronda"><img class="image"
                        src="../asset/images/tajo.jpg" alt="tajo" width="1080" height="1620"></a>
        <a href="../asset/images/primavera.jpg" data-lightbox="caja2" data-title="Alemndro en primavera"><img class="image"
                        src="../asset/images/primavera.jpg" alt="Almendro" width="1080" height="1350"></a>
    </div>
    </main>
    <!--pie de pagina-->
    <footer id="pie">
        <div id="footer" class="footer">
            
        </div>

    </footer>
    <!--javascript-->
    <script type="module" src="../script/galeria.js"></script>
    <script src="../script/jsLightbox/lightbox-plus-jquery.js"></script>
    
    </body>
</html>
